:root {
    --color-boton-hover: #ffffff;
    --color-boton-activo: #ffffff;
    --color-boton: #0d65d8;
    --color-boton-border: #054496;

    --color-texto-claro: #fdfdfd;

    --color-boton-select: #5591eb;

    --color-aside-bg: #5983ea;

    --color-content-bg: #dce4f8;

    --color-boxshadow: #96b7ff94;

    --color-primary: #83b9ff;
    --color-secondary: #1960bd;
    --color-third: #3d82dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 80px;
    background-image: url("images/bg/perfect_hue_49.jpg");
    background-size: cover;
    overflow-y: auto;
}

main {
    flex: 1;
    height: auto;
    padding: 20px;
    margin-bottom: auto;

    background-color: var(--color-content-bg);
    border: var(--color-boton-border) 1px solid;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Fondo */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Barra */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #90cdff, #075ea5);
    border: #f0f0f0ad 1px solid;
}

/* Barra en hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #90a1ff, #073ea5);
}

#menuBtn {
    display: none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contenido {
    display: flex;
    gap: 0px;
    flex: 1;
    min-height: 0;
    padding-bottom: 70px;
}

aside {
    display: flex;
    flex-direction: column;

    position: relative;

    align-self: flex-start;

    padding: 16px;
    width: 200px;

    background-color: var(--color-aside-bg);
    color: var(--color-texto-claro);
    border: var(--color-boton-border) 1px solid;
    box-shadow: inset 0px 0px 1px 5px var(--color-boxshadow);

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

header {
	display: flex;
    position: relative;
    top: 0;
    z-index: 1;
	
	align-items: center;
    justify-content: center;

    background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-secondary),
        var(--color-third)
    );
    color: var(--color-texto-claro);
    border: var(--color-boton-border) 1px solid;
    box-shadow: inset 0px 0px 1px 5px var(--color-boxshadow);

    padding: 20px;

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.logo{
    position: absolute;
    left: 15px;
    width: 80px;
    height: auto;
	z-index: 10;
	
	transition: transform 0.2s ease;
}

.logo:hover{
    transform: rotate(-5deg);
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;

    text-shadow: -2px -1px 2px #040025af;
}

h1 {
    padding-bottom: 15px;
    text-shadow: 2px 3px #1863c43a;
}

p {
    padding-bottom: 27px;
    padding-left: 8px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.menu-padre {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;

    background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-secondary),
        var(--color-third)
    );
    border: var(--color-boton-border) 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    color: var(--color-texto-claro);
    font-weight: bold;

    cursor: default;
}

.submenu {
    display: flex;
    flex-direction: column;

    gap: 0;
}

.submenu a {
    padding: 8px 10px;
    font-size: 0.9rem;
    background-color: var(--color-boton);
    border: var(--color-boton-border) 1px solid;
    border-radius: 0;
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--color-boton);
    border: 1px var(--color-boton-border) solid;

    text-decoration: none;
    color: var(--color-texto-claro2);
    padding: 10px;
    border-radius: 8px;
    transition:
        color 0.3s,
        transform 0.3s,
        background-color 0.3s;
}

nav a.activo {
    color: var(--color-boton-activo);
    background-color: var(--color-boton-select);
}

nav a:hover {
    color: var(--color-boton-hover);
    background-color: var(--color-boton-select);
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: var(--color-boton);
    border: 1px var(--color-boton-border) solid;

    color: #e7e7e7;
    padding: 15px;
    border-radius: 15px;
}

@media (max-width: 390px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 6;
        margin-bottom: 0px;

        padding: 20px;

        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
    }

    .title {
        font-size: 1rem;
    }
	
	.logo{
		visibility: hidden;
	}

    #menuBtn {
        position: absolute;
        left: 20px;

        display: block;
        background: none;
        border: none;

        color: var(--color-texto-claro2);
        font-size: 1.5rem;
    }

    .contenido {
        display: block;
        padding-bottom: 20px;
    }

    main {
        width: 100%;
        margin-bottom: 0px;
    }

    body {
        padding: 0;
		background-image: url("images/bg/perfect_hue_mobile_38.jpg");
		background-size: cover;
    }

    body.menu-abierto {
        overflow: hidden;
    }

    aside {
        position: fixed;
        top: auto;
        left: -235px;

        width: 200px;
        height: 80vh;

        overflow-y: auto;
        overflow-x: hidden;
        transition: left 0.3s;

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 8px;
    }

    aside.abierto {
        left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    nav li {
        width: 100%;
    }

    nav a {
        width: 100%;
        justify-content: flex-start;
    }

    nav a:hover {
        transform: translateX(0);
    }

    nav a.activo {
        transform: translateX(0);
        color: var(--color-boton-activo);
    }

    footer {
        position: static;
        margin: 10px;
    }
}
