:root {
    --color-boton-hover: #ffffff;
    --color-boton-activo: #ffffff;

    --color-boton: #0d65d8;
    --color-boton-border: #054496;

    --color-texto-claro: #fdfdfd;

    --color-boton-select: #5591eb;

    --color-aside-bg: #4b7ff0;

    --color-content-bg: #dce4f8;

    --color-boxshadow: #96b7ff94;

    --color-primary: #83b9ff;
    --color-secondary: #1960bd;
    --color-third: #3d82dd;
}

/* Se agrega body.dark-mode al inicio de un elemento para que el modo oscuro haga efecto */
body.dark-mode {
    --color-boton-hover: #ffffff;
    --color-boton-activo: #ffffff;

    --color-boton: #30384d;
    --color-boton-border: #1b2231;

    --color-texto-claro: #fdfdfd;
    --color-texto-claro2: #fdfdfd;

    --color-boton-select: #46506d;

    --color-aside-bg: #232936;

    --color-content-bg: #2c3345;

    --color-boxshadow: #00000023;

    --color-primary: #3b4258;
    --color-secondary: #232936;
    --color-third: #2f3648;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color del texto default */
main,
main h1,
main p,
main span {
    color: #1a1a1a;
}

/* Color del texto Modo Oscuro */
body.dark-mode main,
body.dark-mode main h1,
body.dark-mode main p,
body.dark-mode main span {
    color: #ffffff;
}

body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 40px;
    background-image: url("images/bg/fondoDia.jpg");
    background-size: cover;
    overflow-y: auto;
}

body.dark-mode {
    background-image: url("images/bg/fondoNoche.jpg");
}

html {
    overflow-y: auto;
}

main {
    flex: 1;
    height: auto;
    padding: 20px;
    margin-bottom: auto;

    background-color: var(--color-content-bg);
    border: var(--color-boton-border) 1px solid;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

main span {
    font-size: 20px;
}

/* Estilo de la barra de scroll (global) */
::-webkit-scrollbar {
    width: 10px;
}

/* Fondo */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Fondo Modo Oscuro*/
html.dark-mode ::-webkit-scrollbar-track,
body.dark-mode ::-webkit-scrollbar-track {
    background: #373f63;
}

/* Barra */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #90cdff, #075ea5);
    border: #f0f0f0ad 1px solid;
}

/* Barra Modo Oscuro */
html.dark-mode ::-webkit-scrollbar-thumb,
body.dark-mode ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3872a1, #00223d);
    border: #1d1d1dad 1px solid;
}

/* Barra en hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #90a1ff, #073ea5);
}

/* Barra en hover Modo Oscuro */
html.dark-mode ::-webkit-scrollbar-thumb:hover,
body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #444f88, #061635);
}

#menuBtn {
    display: none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contenido {
    display: flex;
    gap: 0px;
    flex: 1;
    min-height: 0;
    padding-bottom: 70px;
}

aside {
    display: flex;
    flex-direction: column;

    position: relative;

    align-self: flex-start;

    padding: 16px;
    width: 200px;

    background-color: var(--color-aside-bg);
    color: var(--color-texto-claro);
    border: var(--color-boton-border) 1px solid;
    box-shadow: inset 0px 0px 1px 5px var(--color-boxshadow);

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

header {
    display: flex;
    position: relative;
    top: 0;
    z-index: 1;

    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary), var(--color-third));
    color: var(--color-texto-claro);
    border: var(--color-boton-border) 1px solid;
    box-shadow: inset 0px 0px 1px 5px var(--color-boxshadow);

    padding: 20px;

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.logo {
    position: absolute;
    left: 15px;
    width: 80px;
    height: auto;
    z-index: 10;

    transition: transform 0.2s ease;
}

/* Estilo de un boton switch de la configuracion */
.config-opcion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin-top: 10px;

    border-radius: 12px;

    background-color: #ffffff93
}

body.dark-mode .config-opcion {
    background-color: #11141f83;
}

.switch {
    position: relative;
    display: inline-block;

    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;

    cursor: pointer;

    background-color: #cccccc;

    transition: 0.3s;

    border-radius: 34px;
}

.slider::before {
    content: "";

    position: absolute;

    height: 26px;
    width: 26px;

    left: 4px;
    bottom: 4px;

    background-color: white;

    transition: .3s;

    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #4d7eff;
}

.switch input:checked+.slider::before {
    transform: translateX(26px);
}

.logo:hover {
    transform: rotate(-5deg);
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;

    text-shadow: -2px -1px 2px #040025af;
}

h1 {
    padding-bottom: 15px;
    text-shadow: 2px 3px #1863c43a;
}

p {
    padding-bottom: 27px;
    padding-left: 8px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.menu-padre {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;

    background: linear-gradient(to bottom,
            var(--color-primary),
            var(--color-secondary),
            var(--color-third));
    border: var(--color-boton-border) 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    color: var(--color-texto-claro);
    font-weight: bold;

    cursor: default;
}

.submenu {
    display: flex;
    flex-direction: column;

    gap: 0;
}

.submenu a {
    padding: 8px 10px;
    font-size: 0.9rem;
    background-color: var(--color-boton);
    border: var(--color-boton-border) 1px solid;
    border-radius: 0;
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--color-boton);
    border: 1px var(--color-boton-border) solid;

    text-decoration: none;
    color: var(--color-texto-claro2);
    padding: 10px;
    border-radius: 8px;
    transition:
        color 0.3s,
        transform 0.3s,
        background-color 0.3s;
}

nav a.activo {
    color: var(--color-boton-activo);
    background-color: var(--color-boton-select);
}

nav a:hover {
    color: var(--color-boton-hover);
    background-color: var(--color-boton-select);
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: var(--color-boton);
    border: 1px var(--color-boton-border) solid;

    color: #e7e7e7;
    padding: 15px;
    border-radius: 15px;
}

#btnSubir {
    display: none;
}



@media (max-width: 430px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 6;
        margin-bottom: 0px;

        padding: 20px;

        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
    }

    #btnSubir {
        display: flex;
        position: fixed;
        right: 20px;
        bottom: 15px;

        width: 55px;
        height: 55px;

        border-radius: 50%;
        border: 1px solid var(--color-boton-border);

        align-items: center;
        justify-content: center;

        background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary), var(--color-third));
        color: white;
        font-size: 22px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(46px);

        transition: all 0.3s ease-in-out;

        z-index: 100;
    }

    #btnSubir.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    #menuOverlay {
        position: fixed;
        inset: 0;

        background-color: rgba(0, 0, 0, 0.5);

        opacity: 0;
        visibility: hidden;

        transition: opacity 0.3s ease;

        z-index: 4;
    }

    #menuOverlay.activo {
        opacity: 1;
        visibility: visible;
    }

    .title {
        font-size: 1rem;
    }

    .logo {
        visibility: hidden;
    }

    #menuBtn {
        position: absolute;
        left: 20px;

        display: block;
        background: none;
        border: none;

        color: var(--color-texto-claro2);
        font-size: 1.5rem;
    }

    .contenido {
        display: block;
        padding-bottom: 0px;
    }

    main {
        width: 100%;
        margin-bottom: 0px;
    }

    body {
        padding: 0;
        background-image: url("images/bg/fondoDiaMobile.jpg");
    }

    body.dark-mode {
        background-image: url("images/bg/fondoNocheMobile.jpg");
    }

    body.menu-abierto,
    html.menu-abierto {
        overflow: hidden;
        height: 100%;
    }

    aside {
        position: fixed;
        top: auto;
        left: -235px;

        width: 200px;
        height: 80vh;

        overflow-y: auto;
        overflow-x: hidden;
        transition: left 0.3s;

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        z-index: 5;
    }

    aside.abierto {
        left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    nav li {
        width: 100%;
    }

    nav a {
        width: 100%;
        justify-content: flex-start;
    }

    nav a:hover {
        transform: translateX(0);
    }

    nav a.activo {
        transform: translateX(0);
        color: var(--color-boton-activo);
    }

    footer {
        margin: 10px;
        position: static;
        z-index: -1;
    }
}